@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard WebFont */
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src: url('/public/fonts/Pretendard-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('/public/fonts/Pretendard-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/public/fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('/public/fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/public/fonts/Pretendard-Bold.woff2') format('woff2');
}

html, body, p, span, div, input, textarea, button {
  font-family: 'Pretendard', sans-serif;
}