@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, p, span, div, input, textarea, button {
  font-family: 'Pretendard', sans-serif;
}

.rn-text, .rn-input {
  font-family: Pretendard !important;
}